.floor-map .table .state {
//     left: 35%;
//     top: -141%;
//     height: fit-content;
//     width: auto;
    line-height: inherit;
    font-size: 16px;
    margin-left: 4px;
    color: white;
    position: relative;
    display: block;
    max-height: 100%;
    overflow: hidden;
    bottom: 78px;
}
.floor-map .table .OrderTime{
    line-height: inherit;
    font-size: 16px;
    margin-left: 0px;
    color: white;
    position: relative;
    display: block;
    max-height: 100%;
    overflow: hidden;
    bottom: 152px;
}

.floor-map .table .OrderTotal{
    line-height: inherit;
    font-size: 16px;
    margin-left: 0px;
    color: white;
    position: relative;
    display: block;
    max-height: 100%;
    overflow: hidden;
    bottom: 228px;
}